<div class="container-fluid page">
    <mat-toolbar>
        <span>Categorias</span>
        <div class="example-spacer">
        </div>
        <button mat-raised-button color="primary" routerLink="/dashboard/nueva-categoria">Nueva Categoria</button>
    </mat-toolbar>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let c of categorias" >
            <mat-card class="example-card" style="margin-top: 10px;" >
                <mat-card-title-group>
                    <a class="cursor" style="color: #007fd4;">
                        <mat-icon [routerLink]="['/dashboard/editar-categoria', c.id_categoria]">edit</mat-icon>
                    </a>
                    <a class="cursor" style="color: #ff0000;">
                        <mat-icon (click)="borrarC(c.id_categoria)" >delete</mat-icon>
                    </a>
                    <a class="cursor" style="color: #2da07f;">
                        <mat-icon [routerLink]="['/dashboard/productos-categoria', c.id_categoria]">filter_list</mat-icon>
                    </a>
                    <mat-card-title>{{c.categoria}}</mat-card-title>
                </mat-card-title-group>
                <mat-card-content>
                    {{c.descripcion_categoria}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>