<!-- 
  <mat-toolbar color="primary">
    <span>Inventario</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Home</button>
    <button mat-button routerLink="/dashboard/categorias">Categorías</button>
    <button mat-button routerLink="/dashboard/proveedores">Proveedores</button>
    <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
    <button mat-button routerLink="/dashboard/ventas">Ventas</button>
    <span class="example-spacer"></span>
    <button (click)="logout()" routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
      </button>
</mat-toolbar>
-->
 
<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../../assets/img/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">INVENTARIO</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>home</mat-icon> Home
  </a>
  <a   *ngIf="roli == 'Administrador'" mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/categorias"> 
    <mat-icon>description</mat-icon>   Categorías
  </a>
  <a   *ngIf="roli == 'Administrador'" mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/proveedores"> 
    <mat-icon>assignment_ind</mat-icon>  Proveedores
  </a>
  <a   *ngIf="roli == 'Administrador'" mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/usuarios"> 
    <mat-icon>supervisor_account</mat-icon>  Usuarios
  </a>
  <a  *ngIf="roli == 'Administrador'"  mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/ventas"> 
    <mat-icon>store</mat-icon>  Ventas 
  </a>
  <a  *ngIf="roli == 'Administrador'"  mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/reportes"> 
    <mat-icon>store</mat-icon>  Reportes 
  </a>
</mat-nav-list>
