/*.example-spacer {
  flex: 1 1 auto;
}*/

.logo{
  text-align: center;
  padding: 2.6rem 1rem;
}

img{
  width: 200px;
}
.mat-icon{
  vertical-align: center;
  margin-right: 1rem;
}

.mat-divider{
  border-top-width: 2px;
  border-color: white;
} 

mat-list-item {
  color: #a8b8f3 !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
}
.mat-list-item:hover{
  color: #f2f5f7 !important;
}
.mat-list-item::ng-deep .mat-list-item-content{
  border-radius: 5px;
  margin: 0 8px;
}

.mat-list-item-content .mat-list-item-content:hover{
  background: #5e6791 !important;
}



.list-item-active {
  color: #f2f5f7 !important;
}

/* Color cuando se selecciona*/
.list-item-active::ng-deep .mat-list-item-content{
  background: #3d63a8 !important;
}

.list-item-active::ng-deep .mat-list-item-content:hover {
  background: #494c52 !important;
}

/* Para la letra*/
.mat-subheader{ 
  color:#c5c5c5;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 14px;
}

/* */

