<div class="container-fluid page">
    <mat-toolbar>
        <span *ngIf="!idCat">Agregar Categoria</span>
        <span *ngIf="idCat">Editar Categoria</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" #formProducto="ngForm">
            <mat-grid-list cols=4 rowHeight="70px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <h3>
                        DATOS DE LA CATEGORÍA
                    </h3>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="5">
                    <img src="../../../assets/img/categorias.png" width="50%">
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Categoria</mat-label>
                        <input [(ngModel)]="cateModel.categoria" matInput type="text" formControlName="categoria">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Descripción</mat-label>
                        <input [(ngModel)]="cateModel.descripcion_categoria" matInput type="text" formControlName="descripcion">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button color="warn" routerLink="/dashboard/categorias">Cancelar</button>
                    <button mat-raised-button color="primary" *ngIf="!idCat" disabled={{form.invalid}} (click)="guardarCate()" routerLink="/dashboard/categorias">Aceptar</button>
                    <button mat-raised-button color="primary" *ngIf="idCat" disabled={{form.invalid}} (click)="actualizar(idCat)" routerLink="/dashboard/categorias">Actualizar</button>
                </mat-grid-tile>

            </mat-grid-list>
        </form>
    </mat-card>
</div>