<div class="container-fluid page">
    <mat-toolbar>
        <span>Proveedores</span>
        <div class="example-spacer">

        </div>
        <button mat-raised-button color="primary" routerLink="/dashboard/nuevo-proveedor">Nuevo Proveedor</button>

    </mat-toolbar>
    <div class="row">

        <div class="col-4 col-md-6 col-lg-4" *ngFor="let p of providers">

            <mat-card   class="example-card" style="margin-top: 10px;">     
                <mat-card-title-group>
                    <a class="cursor" style="color: #007fd4;">
                        <mat-icon [routerLink]="['/dashboard/editar-proveedor',p.id_proveedor]" >edit</mat-icon>
                    </a>
                    <a class="cursor" style="color: #ff0000;">
                        <mat-icon (click)="delete(p.id_proveedor)" >delete</mat-icon>
                    </a>
                    <mat-card-title (click)="productosProv(p.id_proveedor)" >Nombre: {{p.proveedor}}</mat-card-title>
                    <mat-card-subtitle>Empresa: {{p.empresa}}</mat-card-subtitle>
                    <img mat-card-md-image src="../../../assets/img/proveedor.png" width="50%">
                </mat-card-title-group>
                <mat-card-content>
                    Datos de contacto:
                    <br>Dirección: {{p.direccion}} 
                    <br> Telefono: {{p.telefono}}
                    <br> Correo: {{p.correo}}
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>