<div class="container-fluid page">
    <mat-toolbar>
        <span>Ventas</span>
        <div class="example-spacer"></div>

    </mat-toolbar>
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id_producto}} </td>
                </ng-container>
                <ng-container matColumnDef="producto">
                    <th mat-header-cell *matHeaderCellDef> Producto </th>
                    <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
                </ng-container>

                <!-- Descripcion Column -->
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>

                <!-- Precio Column -->
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
                </ng-container>

                <!-- Stock Column -->
                <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef> Stock </th>
                    <td mat-cell *matCellDef="let element"> {{element.cantidad}}
                        <mat-icon *ngIf="element.cantidad<=5" style="color: #f44a4a;" >warning</mat-icon> </td>
                </ng-container>

                <!-- Stock Column -->
                <ng-container matColumnDef="unidad">
                    <th mat-header-cell *matHeaderCellDef> Unidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.unidad}} </td>
                </ng-container>

                <!-- Options Column -->
                <ng-container matColumnDef="salida">
                    <th mat-header-cell *matHeaderCellDef>Salida</th>
                    <td mat-cell *matCellDef="let element">
                        <a class="cursor" style="color: #eb4917;">
                            <mat-icon (click)="salida(element)">arrow_forward_icon</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <!-- Options Column -->
                <ng-container matColumnDef="entrada">
                    <th mat-header-cell *matHeaderCellDef>Entrada</th>
                    <td mat-cell *matCellDef="let element">
                        <a class="cursor" style="color: #059400;">
                            <mat-icon (click)="entrada(element)">arrow_back_icon</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

        </div>
    </div>
</div>