table {
    width: 100%;
}

th {
    width: 10% 20% 40% 10% 10%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.cursor {
    cursor: pointer;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}