table {
    width: 100%;
    margin-top: 10px;
}

th {
    width: 10% 20% 40% 10% 10%;
}

.cursor {
    cursor: pointer;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}