<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-menu></app-menu>
    </mat-drawer>
    <mat-drawer-content>
        <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

        <div class="container-fluid page">
            <div class="page__content shadow p-3 position-relative">
                <router-outlet></router-outlet>
            </div>
          </div>
        
    </mat-drawer-content>
</mat-drawer-container>
