
:host{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer{
    width: 260px;
    background: #0f127a;
  }
  
  mat-drawer-container{
    height: 100%;
  }

.page {
  padding: 0 1rem;
  background: #f1f5f9;
  }

.page__box {
  min-height: 120px;
  background: #1e293b;
  margin: 0 -1rem;
  font-size: 36px;
}
  .page__content{
    min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: 0rem;
      background: white;
      color: black;
      font-size: 2rem;
  }

  .page__content-data{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }