<div class="container-fluid page">
    <mat-toolbar>
        <span *ngIf="!idProd">Agregar Nuevo Producto</span>
        <span *ngIf="idProd">Actualizar Producto</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <!--         <form>    
    Intenta ponerlo en un form, a mi no me dejo y no supe por qué
        </form> -->
        <form [formGroup]="form" #formProducto="ngForm">
            <mat-grid-list cols=4 rowHeight="70px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <h3>
                        DATOS DEL PRODUCTO
                    </h3>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="5">
                    <img src="../../../assets/img/productos.jpg" width="50%">
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input [(ngModel)]="productoModel.producto" matInput type="text" formControlName="producto">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Descripción</mat-label>
                        <input [(ngModel)]="productoModel.descripcion" matInput type="text" formControlName="descripcion">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Precio</mat-label>
                        <input [(ngModel)]="productoModel.precio" matInput type="number" formControlName="precio">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Cantidad</mat-label>
                        <input [(ngModel)]="productoModel.cantidad" matInput type="number" formControlName="cantidad">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Unidad</mat-label>
                        <input [(ngModel)]="productoModel.unidad" matInput type="string" formControlName="unidad">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Categoria</mat-label>
                        <mat-select [(ngModel)]="productoModel.id_categoria_producto" formControlName="id_categoria_producto">
                            <mat-option *ngFor="let c of categories" value={{c.id_categoria}}>{{c.categoria}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Marca</mat-label>
                        <mat-select [(ngModel)]="productoModel.id_marca_producto" formControlName="id_marca_producto">
                            <mat-option *ngFor="let m of marcas" value={{m.id_marca}}>{{m.marca}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Proveedor</mat-label>
                        <mat-select [(ngModel)]="productoModel.id_proveedor_producto" formControlName="id_proveedor_producto">
                            <mat-option *ngFor="let p of providers" value={{p.id_proveedor}}>{{p.proveedor}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button color="warn" routerLink="/dashboard">Cancelar</button>
                    <button mat-raised-button color="primary" *ngIf="!idProd" disabled={{form.invalid}} (click)="guardarProducto()" routerLink="/dashboard">Aceptar</button>
                    <button mat-raised-button color="primary" *ngIf="idProd" disabled={{form.invalid}} (click)="actualizar(idProd)" routerLink="/dashboard">Actualizar</button>
                </mat-grid-tile>

            </mat-grid-list>
        </form>
    </mat-card>
</div>