<div>
    <mat-toolbar>
        <span *ngIf="!data.accion">Salida</span>
        <span *ngIf="data.accion">Entrada</span>
    </mat-toolbar>
    <div mat-dialog-content>
        <form [formGroup]="ventaForm">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre del producto</mat-label>
                <input matInput value="Producto"  formControlName="producto" [(ngModel)]="data.producto">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label *ngIf="!data.accion" >Cantidad vendida</mat-label>
                <mat-label *ngIf="data.accion" >Cantidad agregada</mat-label>
                <input matInput placeholder="00" formControlName="cantidad" [(ngModel)]="data.cantidad_venta">
            </mat-form-field>
            <button
            *ngIf="!data.accion"
            mat-dialog-close  
            mat-raised-button color="primary" style="margin-left:8px" (click)="salida(data.id_producto)">Vender</button>
            <button
            *ngIf="data.accion"
            mat-dialog-close  
            mat-raised-button color="primary" style="margin-left:8px" (click)="entrada(data.id_producto)">Agregar</button>
        </form>
    </div>
</div>