<div class="container-fluid page">
    <mat-toolbar>
        <span>Usuarios</span>
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
        <!--  routerLink="/dashboard/crear-usuario"  -->
    </mat-toolbar>

    <div>
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Position Column -->
                <ng-container matColumnDef="id_usuario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> N. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id_usuario}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
                    <td mat-cell *matCellDef="let element"> {{element.email_usuario}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre_usuario}} </td>
                </ng-container>

                 <!-- Name Column -->
                 <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
                    <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element; let i = index" style="text-align: left">
                        <a class="pointer" style="color: #1f516f" matTooltip="Editar usuario">
                            <mat-icon (click)="editar(element)">edit</mat-icon>
                        </a>
                        <a class="pointer" style="color: #e15639" matTooltip="Eliminar usuario">
                            <mat-icon (click)="borrar(element.id_usuario)">delete</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>