table {
    width: 100%;
    margin-top: 8px;
}

th {
    width: 20%;
}

.pointer{
    cursor: pointer;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.example-spacer {
    flex: 1 1 auto;
  }