<div class="container-fluid page">
    <mat-toolbar>
        <span>Dashboard  </span>
        <div class="example-spacer"></div>
        <button   *ngIf="roli == 'Administrador'" mat-raised-button color="primary" routerLink="/dashboard/nuevo-producto">Nuevo Producto</button>
    </mat-toolbar>
    <div>
        
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" >
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id_producto}} </td>
        </ng-container>
        <ng-container matColumnDef="producto">
            <th mat-header-cell *matHeaderCellDef> Producto </th>
            <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
        </ng-container>

        <!-- Descripcion Column -->
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <!-- Precio Column -->
        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>

        <!-- Stock Column -->
        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}}  
                <mat-icon *ngIf="element.cantidad<=5" style="color: #f44a4a;" >warning</mat-icon>
            </td>
        </ng-container>

        <!-- Unidad Column -->
        <ng-container matColumnDef="unidad">
            <th mat-header-cell *matHeaderCellDef> Unidad </th>
            <td mat-cell *matCellDef="let element"> {{element.unidad}} </td>
        </ng-container>

        <!-- Options Column -->
        <ng-container  matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <a class="cursor" style="color: #007fd4;">
                    <mat-icon *ngIf="roli == 'Administrador'" [routerLink]="['/dashboard/editar',element.id_producto]">edit</mat-icon>
                </a>
                <a class="cursor" style="color: #ff0000;">
                    <mat-icon  *ngIf="roli == 'Administrador'" (click)="borrarProducto(element.id_producto)">delete</mat-icon>
                </a>
                <a class="cursor" style="color: #68d6b1;">
                    <mat-icon  (click)="openSnackBar(element.id_producto)">book</mat-icon>
                </a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    </div>
</div>

