<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form">
            <img src="../../../assets/img/usuario.png" width="50%">
            <h1>login</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input class="input" type="text" matInput autocomplete="off" formControlName="email_usuario">
            </mat-form-field>

            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="!hide ? 'password' : 'text'" formControlName="password_usuario">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="!hide">
                    <mat-icon>{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
            </mat-form-field>
            <br>
            <button type="submit" class="ancho button" mat-raised-button color="primary" 
            (click)="ingresar()" [disabled]="form.invalid">Ingresar</button>
        </form>
    </div>
</div>