.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #f5f5f5;
    /* Colores de fondo incluidos*/
    /* background: #52a031;
    background: -webkit-linear-gradient(to top, #E4E5E6, #00416A);
    background: linear-gradient(to top, #7a828b, #959ea3); */
}

.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.ancho {
    width: 80%;
    background-color: #f5f5f5;
}

.button {
    height: 50px;
    background-color: rgb(55, 89, 119);
}

.spinner {
    margin: 0 auto;
}