<div>
    <mat-toolbar>
        <span>Crear Usuario</span>
    </mat-toolbar>
    <div mat-dialog-content>
        <form [formGroup]="usuarioForm">
            <mat-form-field appearance="outline">
                <mat-label>Nombre Completo</mat-label>
                <input formControlName="nombre_usuario" matInput [(ngModel)]="data.nombre_usuario">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email_usuario" [(ngModel)]="data.email_usuario">
                <mat-error *ngIf="email_usuario.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Roles</mat-label>
                    <mat-select [(ngModel)]="data.id_rol_usuario" formControlName="id_rol_usuario">
                        <mat-option *ngFor="let r of roles" value={{r.id_rol}}>{{r.rol}}</mat-option>
                    </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input formControlName="password_usuario" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Repetir Contraseña</mat-label>
                <input formControlName="password2" matInput [type]="hide2 ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-action [align]="'center'">
        <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
        <button mat-dialog-close mat-raised-button color="primary" style="margin-left:8px" [disabled]="usuarioForm.invalid" *ngIf="!data.id_usuario" (click)="guardar()">Registrar</button>
        <button mat-dialog-close mat-raised-button color="primary" style="margin-left:8px" [disabled]="usuarioForm.invalid" *ngIf="data.id_usuario" (click)="actualizar(data.id_usuario)">Actualizar</button>
    </div>