<div class="container-fluid page">
    <mat-toolbar>
        <span *ngIf="!idProv">Agregar Nuevo Proveedor</span>
        <span *ngIf="idProv">Actualizar Nuevo Proveedor</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" #formProveedor="ngForm">
            <mat-grid-list cols=4 rowHeight="70px">

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <h3>
                        DATOS DEL PROVEEDOR
                    </h3>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3" [rowspan]="6">
                    <img src="../../../assets/img/proveedor.png" width="30%">
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="proveedor" [(ngModel)]="provModel.proveedor">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Empresa</mat-label>
                        <input matInput formControlName="empresa" [(ngModel)]="provModel.empresa">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="direccion" [(ngModel)]="provModel.direccion">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Telefono</mat-label>
                        <input formControlName="telefono" matInput [(ngModel)]="provModel.telefono">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Correo</mat-label>
                        <input formControlName="correo" matInput [(ngModel)]="provModel.correo">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button color="warn" routerLink="/dashboard/proveedores">Cancelar</button>
                    <hr>
                    <button mat-raised-button color="primary" *ngIf="!idProv" disabled={{form.invalid}} (click)="guardar()">Guardar</button>
                    <button mat-raised-button color="primary" *ngIf="idProv" disabled={{form.invalid}} (click)="actualizar(provModel.id_proveedor)">Actualizar</button>
                </mat-grid-tile>

            </mat-grid-list>
        </form>
    </mat-card>
</div>